/data/*.json*
/models
__pycache__
/outputs
movieKnowledgeGraphDataset/
/data/*/*.json*
backup/
pyEnv.sh
dataset_stats.txt
*.out
*.pkl
data/*.txt
metrics/
trainer_output/
HAKE/data/
KBGAT/data/
FedKGRec/data/
